<div>
    <table mat-table [dataSource]="eventsDataSource" matSort>
        <ng-container
            *ngFor="let columnToDisplay of columnDefs"
            [matColumnDef]="columnToDisplay.def"
        >
            <mat-header-cell
                style="font-size: medium"
                *matHeaderCellDef
                mat-sort-header
                [disabled]="!columnToDisplay.sortable"
            >
                {{ columnToDisplay.headerText }}
                {{ columnToDisplay.sortable ? "*" : "" }}
            </mat-header-cell>
            <mat-cell *matCellDef="let event">
                {{ event[columnToDisplay.def] }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
            mat-ripple
            *matRowDef="let row; columns: columnsToDisplay"
            (click)="getRowId && onRowClick(row)"
        ></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
