@use "src/styles/variables";

.esm-card {
    margin: variables.get-spacing(smaller);
}

.ets-evt-overview__wrapper {
    padding: variables.get-spacing(medium);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#event-definitions-list {
    flex: 2;
}

#ets-event-details__wrapper {
    flex: 1;
}

.ets-evt-overview-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}
