<div class="ets-evt-overview__wrapper">
    <mat-card id="event-definitions-list" class="esm-card">
        <mat-card-header>
            <mat-card-title>
                <span>Event definitions</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-table
                *ngIf="eventDefinitions | async as eventsValue"
                [rowData]="eventsValue"
                [columnDefs]="overviewColumnDefs"
                [getRowId]="getEventIdFromGrid()"
                [isPaginationEnabled]="true"
                (rowClick)="setSelectedEventId($event)"
            ></app-table>
        </mat-card-content>
    </mat-card>

    <mat-card id="ets-event-details__wrapper" class="esm-card">
        <mat-card-header class="ets-event-details__header">
            <mat-card-title>
                <span>Event details</span>
            </mat-card-title>
            <button
                *ngIf="
                    selectedEventDefinitionValue && user | async as userValue
                "
                [disabled]="
                    userValue.uid === selectedEventDefinitionValue?.createdById
                "
                (click)="isEditMode = !isEditMode"
                mat-icon-button
            >
                <mat-icon>{{ isEditMode ? "cancel" : "edit" }}</mat-icon>
            </button>
        </mat-card-header>

        <br />

        <mat-card-content>
            <ng-container
                *ngIf="
                    selectedEventDefinition
                        | async as selectedEventDefinitionValue;
                    else emptyEventsForm
                "
            >
                <app-event-definition-form
                    *ngIf="isEditMode; else readOnlyMode"
                    [eventDefinition]="selectedEventDefinitionValue"
                ></app-event-definition-form>

                <ng-template #readOnlyMode>
                    <app-table
                        [columnDefs]="detailsColumnView"
                        [rowData]="
                            createReadOnlyRowData(selectedEventDefinitionValue)
                        "
                    ></app-table>
                </ng-template>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <ng-template #emptyEventsForm>
        <div class="ets-evt-overview-empty">
            <p>Select a row to edit an existing event definition</p>
            <p>or</p>
            <button
                routerLink="/event-definitions/create"
                mat-button
                mat-flat-button
                color="primary"
            >
                Create a new event
            </button>
        </div>
    </ng-template>
</div>
